html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}
body {
  background-color: black;
  margin: 10px 100px;
}

li {
  font-size: large;
}

span {
  font-size: medium;
}

i.fa-solid.fa-ghost {
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.footer-text {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.nav {
  display: flex;
}

.nav li {
  padding: 15px;
}

.nav li a {
  text-decoration: none;
  color: white;
}

.nav li a.selected {
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 7px;
}

.contact-us {
  background-color: orange;
  border-radius: 7px;
}

h1 {
  color: white;
}

.p-top {
  font-size: 1.5rem;
  color: white;
  line-height: 3rem;
}

.p-mid {
  font-size: 1.5rem;
  color: white;
  width: 100%;
  line-height: 2.7rem;
}

.p-bottom {
  font-size: 1.2rem;
  color: white;
  line-height: 1.7rem;
  margin: 0 35%;
  text-align: center;
}

.p-footer1 {
  font-size: 1rem;
  color: white;
  line-height: 1.7rem;
  width: 34%;
}

.get-button {
  color: white;
  background-color: orange;
  border: none;
  border-radius: 20px;
  padding: 2rem;
  font-size: medium;
  margin-top: 5rem;
}

.first-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.picture-section {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.joy-stick {
  width: 70%;
}

.icon-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

h2 {
  color: white;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: x-large;
}

.game-container {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fire {
  color: white;
  padding-top: 3rem;
  font-size: large;
}

.game-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.p-one {
  color: white;
  font-size: xx-large;
  text-align: center;
  padding: 3rem 30%;
  line-height: 5.5rem;
}

.spider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 5rem;
}

.icon {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
}

.dark-photo {
  background-image: url("/assets/Rectangle\ 5.png");
  background-size: 100%;
  border-radius: 5px;
  margin-top: 10rem;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  padding: 10rem;
}

.photo-a {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
}

.footer-cr {
  color: white;
}

.footer-c-us {
  color: white;
  font-size: large;
}

.footer-up {
  display: flex;
  justify-content: space-around;
}

.footer-contactus {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
}

.footer-contact {
  width: 60rem;
}

.footer-down {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.aboutus-top {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.aboutus-top-left {
  font-size: medium;
  padding-right: 7rem;
}

.button-aboutus-co {
  color: white;
  background-color: black;
  border-radius: 25px;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.aboutus-p-top {
  color: white;
  font-size: small;
}

.aboutus-co {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
  background-color: #615a5a;
  margin: 0 10rem;
  padding: 0 7rem;
  border-radius: 10px;
}

.about-us-co {
  display: flex;
}

.au-main-mid-up {
  color: white;
  font-size: 2rem;
}

.au-main-mid-down {
  color: white;
  font-size: 1.2rem;
}

.au-main-mid {
  display: flex;
  margin: 10rem -10rem;
  padding-top: 10rem;
  background-color: #06062c;
}

.au-main-mid-img {
  padding-left: 20rem;
}

.au-main-mid-all {
  padding: 0 22%;
  line-height: 2.5rem;
}

.team {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  text-align: center;
}

.our-team {
  display: flex;
  justify-content: space-around;
}

.au-bottom {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.news-top {
  text-align: center;
  font-size: medium;
  padding-bottom: 10rem;
}

.button-one {
  background-color: #2351f5;
  color: white;
  padding: 2rem;
  margin-right: 1rem;
  margin-top: 2rem;
  border: none;
  width: 21%;
  font-size: medium;
}

.button-onee {
  background-color: #2351f5;
  color: white;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  border: none;
}

.button-two {
  background-color: #ff8484;
  color: white;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  border: none;
}

.button-three {
  background-color: #ff7c32;
  color: white;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  border: none;
}

.button-four {
  background-color: #23a54f;
  color: white;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  border: none;
}

.button-five {
  background-color: #9921c3;
  color: white;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  border: none;
}
.news-co {
  display: flex;
  max-width: 60rem;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.news-r-l {
  display: flex;
}

.news-right {
  padding-left: 15rem;
}

.news-left {
  max-width: 90rem;
}

.news-details {
  padding-left: 5rem;
}

.news-photo {
  width: 100%;
}

.news-hr {
  margin-bottom: 5rem;
}

#map {
  width: 100%;
  height: 100rem;
  transform: scale(0.89);
  margin-top: -7rem;
}

.marker {
  background-image: url("https://docs.mapbox.com/mapbox-gl-js/assets/pin.svg");
  background-size: cover;
  cursor: pointer;
}

.no-padding {
  padding-bottom: 0;
}

.hide-overflow {
  overflow: hidden;
}

.account{
  display: flex;
  color: white;
  font-size: 2rem;
  align-items: center;
}

.account-icon {
  height: 3rem;
  width: 3rem;
  padding-right: 0.5rem;
}